* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  /* position: relative; */
  display: flex;
  background: rgba(237, 232, 252, 0.8);
  overflow: hidden;
}
body::before {
  content: '';
  position: absolute;
  height: 450px;
  width: 450px;
  left: 0;
  background: rgb(157, 156, 156);
  transform: translatey(25em);
  border-top-right-radius: 85%;
}
body::after {
  content: '';
  position: absolute;
  /* height: 450px;
  width: 450px; */
  /* background: rgb(241, 95, 95); */
  right: 0;
  transform: translatex(15em) scale(6) rotate(7deg);

  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid grey;
}
.firstdiv {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  height: 40em;
  width: 75em;
  position: relative;
  top: 2em;
  left: 6em;
  border-radius: 12px;
  overflow: hidden;
  z-index: 2;
  backdrop-filter: blur(5px);
}
