.white {
  height: 100%;
  flex: 1;
  /* z-index: 100; */
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 0 44px rgba(0, 0, 0, 0.25),
    inset 4px 0 4px rgb(255, 255, 255, 0.4);
  transform: translateX(-34.48em);
}
